<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<p> Si cette faille avait été réelle, et que ce site contenait des profils avec des identifiants et mots de passe, vous auriez eu accès aux données de connexion des utilisateurs, voir plus...</p>
		<p> Tout ce qu'il restait a faire, était parcourir l'aborescence derrière la racine du site.</p>
		<p> Par défaut, sous les systèmes UNIX, les mots de passe d'un site non protégé peuvent être récupérés avec une simple commande comme ../etc/passwd </p>
		<p> Il existe cependant de nombreuses autres commandes (comme -ls pour avoir le détail) au cas ou l'aborescence serait différente, du moment où elle est accessible. </p>
	</body>
</html>
