body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
	margin-top: 100px;
    min-height: 100vh;
	font-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("Images/os_icone_jour.png");
}

div {
	text-align: center;
}
