body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-top: 100px;
	font-size: 25px;
	min-height: 100vh;
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("Images/art_icone_jour.jpg");
}

div {
	text-align: center;
}
