body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-top: 100px;
	font-size: 25px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Images/ia_icone_jour.png");
}

div {
	text-align: center;
}
