body {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-top: 100px;
	font-size: 25px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("Images/os_icone_nuit.jpg");
	background-color: 000;
    color:#fff;

}

div {
	text-align: center;
}
